h1 {
  color: white;
}

header {
  text-align: center;
}

.apresentacao {
  padding: 10px;
  background-color: white;
  color: 1E201E;
}

.fotoperfil {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border-style: solid;
}

.sobre {
  padding: 15px;
  background-color: #1E201E;
  color: white;
}

.sobrecontainer {
  padding: 20px;
}

.formacao {
  color: white;
  padding: 10px;
  background-color: #3C3D37;

}

/* retirar cor azulada de links */
a:link {
  color: inherit;
}

.formacaocontainer {
  padding: 20px;
}

.experiencia {
  padding: 10px;
  color: white;
  background-color: #697565;
}

.experienciacontainer {
  padding: 20px;
}

.redes {
  padding: 10px;
  color: white;
  background-color: #ECDFCC;
}

.contatocontainer {
  text-align: center;
}

.footer {
  background-color: white;
  color: #1E201E;
}