h1 {
  color: white;
}

header {
  text-align: center;
}

.apresentacao {
  padding: 10px;
  background-color: #0C0C0C;
  color: white;
}

.fotoperfil {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border-style: solid;
}

.navbar-nav {
  align-items: center;
}

.sobre {
  padding: 15px;
  background-color: #481E14;
  color: white;
}

.sobrecontainer {
  padding: 20px;
}

.formacao {
  color: white;
  padding: 10px;
  background-color: #9B3922;
}

.formacaocontainer {
  padding: 20px;
}

.experiencia {
  padding: 10px;
  color: white;
  background-color: #F2613F;
}

.experienciacontainer {
  padding: 20px;
}

.contato {
  padding: 10px;
  color: white;
  background-color: #F2613F;
}

.contatocontainer {
  text-align: center;
}