body {
    background-color: #1E201E;
    color: white;
    margin: 20px;
}

.titulo {
    text-align: center;
    padding: 20px;
}

.nomesobrenome {

}

.email {

}

.mensagem {

}

.lingua {

}

.prototipo {

}

.linguaprogamacao {

}

.banco {
    
}

.turnos {
    
}   

.horarios {

}

.confirmacao {
    text-align: center;
}
